@page "/blog/{id}"

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@_blog.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@_blog.Author</h6>
        <p class="card-text">@_blog.Category</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

@code {
    private Blog _blog;

    public class Blog
    {
        public string Id { get; set; }
        public string Author { get; set; }
        public string Category { get; set; }
        public string Name { get; set; }
        public string blogUrl { get; set; }
    }
}