@inject HttpClient Http;
@using BlazorClient.Models;

@foreach (var blog in blogs)
{
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@blog.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@blog.Author</h6>
                <p class="card-text">@blog.Category</p>
                <a href="" class="nav-link">Read</a>
            </div>
        </div>
    </div>
}

@code {
    private List<Blog> blogs = new List<Blog>();

    protected override async Task OnInitializedAsync()
    {
        blogs = await Http.GetFromJsonAsync<List<Blog>>("https://blog-engine-api.herokuapp.com/api/blogs");

        if (blogs == null)
        {
            Console.WriteLine("There are no blogs. Sorry.");
            return;
        }

        blogs = blogs
            .OrderBy(b => b.Name)
        .ToList();
    }
}